.header {

    &__text {
        font-size: clamp(1rem, 3vw, 5vw);
        font-weight: 400;
        font-family: $font-display;
        color: #fff;
        text-transform: uppercase;
    }

    &__title {
        justify-self: center;
        font-size: clamp(1.6rem, 3vw, 5vw);
    }

    &__logo {
        height: 3rem;
        justify-self: center;
    }

    &__cta {
        display: grid;
        grid-template-columns: max-content max-content;
        column-gap: 2rem;
        justify-content: center;
        padding: 1rem 4rem;
    }

    &__seen-on {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        align-items: center;
        column-gap: .5rem;

        font-size: 2rem;
        color: $color-grey-light-2;

        &::before,
        &::after {
            content: "";
            background-color: currentColor;
            height: 2px;
        }

    }

    &__logos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
        gap: 1rem;
        justify-content: center;
    }

    &__item {
        height: 5.5rem;
        width: 100%;
        object-fit: contain;
        justify-self: center;
        // filter: brightness(70%);
    }

    &__btn {
        align-self: start;
        justify-self: start;
        font-size: 1.4rem;
    }
}