@import '~bootstrap/scss/bootstrap.scss';
// Here you can add other styles
// Here you can add other styles
.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 4rem;
    padding: 2rem 0;
    color: gold;
    align-items: start;
    
    &__spend {
        display: grid;
        margin-top: 5rem;
        font-size: 1.1rem;
        gap: 1rem;
        justify-content: center;
        grid-template-rows: repeat(3, max-content)
    }
}

.feature {
    display: grid;
    //justify-content: center;
    justify-items: center;
    justify-content: center;
    box-shadow: 5px 2px 14px 3px blue;
    border-radius: 5px;
    padding: 1rem 0;
    transition: all .5s;
    // grid-template-columns: min-content auto;
    gap: 2rem;
    
    
    &:hover {
        transform: scale(1.02);
        box-shadow: 2px 4px 17px 3px blue;
        
    }
    
    &__icon {
        font-size: 3.5rem;
        border-radius: 50%;
        text-align: center;
        border: 2px solid gold;
        padding: 4rem;
        
        &-percent,
        &-text {
            color: black;
            font-weight: 400;
        }
        
    }
    
    &__list {
        list-style: none;
        font-size: 1.5rem;
        color: black;
        font-weight: bold;
        
        &-item {
            text-decoration: none;
        }
    }
    
}

.card{
    padding: 1rem ;
}

